* {
  font-family: 'Roboto', sans-serif;
  max-width: 2500px;
  margin: auto;
  background-color: #06032B;
  color: #CFD9E6;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
}

p {
  font-weight: 300;
}

a:hover {
  color: #BF1F16;
}

.max-width {
  max-width: 1000px;
}

.max-width-small {
  max-width: 800px;
}

.card {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.card-link {
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

a:focus,
[tabindex="0"]:focus {
  outline: 2px solid red;
  z-index: 10;
}

.card:hover img,
.card:focus img{
  opacity: 0.5;
}

.card:hover .middle,
.card:focus .middle {
  opacity: 1;
}

.card-text {
  background-color: #e2e2e2;
  color: black;
  font-size: 24px;
  padding: 25px 25px;
  font-weight: bold;
  width: 100%;
}

.img-flex-img {
  width: 200%;
}

.gutter-wide {
  padding-left: 5.2rem;
  padding-right: 5.2rem;
}
