* {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

#deco-line{
  position: relative;
}

#deco-line:before {
  position: absolute;
  content: " ";
  border-top: 2px solid #000;
  width: 60px;
  bottom: 12px;
  left: 10px;
}

#deco-line:after {
  position: absolute;
  content: " ";
  border-top: 2px solid #000;
  width: 60px;
  bottom: 12px;
  right: -24px;
}
