<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Sarah Norris · Ottawa, Canada</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:300" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">

</head>
<body class="">
  <header class="pad-t center-text">
    <div class="push-1-4">
      <a href="{{site.baseurl}}/index"><i class="icon i-64"><img src="{{site.baseurl}}/images/logo.svg"></i></a>
    </div>
    <nav class="push-2">
      <ul class="list-group-inline">
        <li class="gutter-1-2">
          <a class="link-box milli" href="{{site.baseurl}}/">Home</a>
        </li>
        <li class="gutter-1-2" id="deco-line-header">
          <a class="link-box milli" href="{{site.baseurl}}/about">About</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <footer>
    <nav class="center-text">
      <ul class="list-group-inline push-0">
        <li><a itemprop="url" class="link-box micro" href="https://vimeo.com/user71120700">Vimeo</a></li>
        <li class="gutter-1-2"><a itemprop="url" class="link-box micro" href="https://www.instagram.com/sarahnorrisdesigned/">Instagram</a></li>
        <li><a itemprop="url" class="link-box micro" href="https://www.behance.net/norr0076173d">Behance</a></li>
      </ul>
    </nav>
    <div class="center-text push-1-4">
      <a class="nano link-box" href="mailto:hello@sarahnorrisdesign.ca">hello@sarahnorrisdesign.ca</a>
    </div>
  </footer>
</body>
</html>
