<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Sarah Norris · Ottawa, Canada</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">

</head>
<body class="">

  <ul class="skip-links">
    <li><a href="#nav">Jump to nav</a></li>
    <li><a href="#main">Jump to Main</a></li>
  </ul>

  <header role="banner" tabindex="0">
    <div class="island grid grid-middle wrapper pad-b">
      <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4">
        <a href="{{site.baseurl}}/index"><i class="icon i-96"><img src="{{site.baseurl}}/images/logo-new.svg"></i></a>
      </div>

      <div class="unit xs-1-2 s-1-2 m-1-2 l-3-4">
        <nav role="navigation" id="nav" class="push-2">
          <ul class="list-group-inline push-0 text-right pad-t-2">
            <li class="push-r milli"><a class="link-box" href="{{site.baseurl}}/">Home</a></li>
            <li class="milli" id="deco-line-header"><a class="link-box" href="{{site.baseurl}}/about">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main role="main" tabindex="0" id="main">
    {{content}}
  </main>

  <footer role="contentinfo" tabindex="0">
    <nav class="center-text">
      <ul class="list-group-inline push-0">
        <li><a itemprop="url" class="link-box micro" href="https://vimeo.com/user71120700">Vimeo</a></li>
        <li class="gutter-1-2"><a itemprop="url" class="link-box micro" href="https://www.instagram.com/sarahnorrisdesign/">Instagram</a></li>
        <li><a itemprop="url" class="link-box micro" href="https://www.behance.net/norr0076173d">Behance</a></li>
      </ul>
    </nav>
    <div class="center-text push-1-4 pad-b">
      <a class="nano link-box" href="mailto:sarahnorrisdesign@gmail.com">sarahnorrisdesign@gmail.com</a>
    </div>
  </footer>
</body>
</html>
